# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/bin
/particlesystem/ipch
/particlesystem/Debug
/particlesystem/Release
/external/fltk/lib
/external/glut/lib
/external/vl/lib
/particlesystem/particlesystem-app.sdf

/particlesystem/particlesystem-app.opensdf
